# django 
Django
djangorestframework
django-filter
drf-extensions
requests
markdown

# prod wsgi server
gunicorn

# postgres driver
psycopg2-binary

# opencv stuff
pillow
opencv-python-headless
opencv-contrib-python

# background jobs
celery[redis]

# file bucket
google-cloud-storage