# django 
Django
djangorestframework
django-filter
drf-extensions
requests
markdown

# prod wsgi server
gunicorn

# postgres driver
psycopg2-binary

# opencv stuff
pillow
opencv-python

# background jobs
git+https://github.com/celery/celery.git # celery latest version
redis
celery[redis]
redis-py

# file bucket
google-cloud-storage